@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "./app/style.css";
@import "./app/styles/header.css";
@import "./app/styles/home.css";
@import "./app/styles/results.css";
@import "./app/styles/map.css";
@import "./app/styles/classroom.css";

@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--text);
  --color-muted: var(--text-muted);
}
